openapi: 3.1.0
info:
  title: Clio API
  version: 1.0.0
  description: 'This is a custom OpenAPI 3.1 spec for the Clio API, used to generate
    a custom Python client using openapi-python-client.

    '
  contact:
    name: API Support
    url: https://help.clio.com/
    email: support@clio.com
servers:
- url: https://api.clio.com/v1
tags:
- name: Activities
  description: 'Activities (Time Entries and Expense Entries) track work done at a
    firm. Activities are recorded in Clio and then posted on bills to clients.



    Time Entries can be either be hourly-billable or flat-rate. An hourly-billable

    Time Entry is valued at the billing rate multiplied by the time entered. Examples

    could be a phone call, or a research session. A flat-rate Time Entry has a set

    value. Examples could be a visa application, or a contract review.



    Expenses are reimbursable costs the firm pays on behalf of a client (for example,

    postage, copy fees, etc.).



    [Support Link](https://help.clio.com/hc/en-us/sections/9036198517915-Activities)



    [Activities in Clio](http://app.clio.com/activities)

    '
- name: Activity Rates
  description: ''
- name: Activity Descriptions
  description: 'Activity Descriptions are custom Time Entry templates. Activity Descriptions

    help firms expedite their process for recording Time Entries, and ensure that

    their Time Entry descriptions are consistent.



    [Support Link](https://help.clio.com/hc/en-us/articles/9289744400667-Activity-Categories)



    [Activity Descriptions in Clio](https://app.clio.com/nc/#/activity_categories)

    '
- name: Allocations
  description: 'Once a [Payment](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments)

    or [Credit Note](https://help.clio.com/hc/en-us/articles/9285299888539-Credit-Notes)

    has been recorded, an Allocation links it to a Bill.



    It''''s possible for interest Allocations ("interest" = "true") to not be linked

    to a Bill. This can happen if the linked interest Bill is deleted (something the

    system allows.)



    [Support Link](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments)

    '
- name: Bank Accounts
  description: "These accounts are meant to mirror the firm\u2019s accounts at their\
    \ financial institution. Users can add a bank account to Clio to use with [Clio\
    \ Payments](https://help.clio.com/hc/articles/9285631748507-Payments-and-Bank-Accounts),\
    \ and for use as an audit and [reconciliation](https://help.clio.com/hc/en-us/articles/9290138047899)\
    \ tool.\n\n[Support Link](https://help.clio.com/hc/articles/9285631748507-Payments-and-Bank-Accounts)\n"
- name: Bank Transactions
  description: ''
- name: Bank Transfers
  description: ''
- name: Bill Themes
  description: ''
- name: Billable Clients
  description: 'Users can view all Billable Clients, or clients with outstanding [Bills](https://help.clio.com/hc/en-us/articles/9285169278747-Generate-Bills),

    on the Billable Clients page, located under the Bills tab.

    '
- name: Billable Matters
  description: 'Users can see all [Matters with outstanding bills](https://help.clio.com/hc/en-us/articles/9286116462747#filter-matters-clio-manage-0-0)

    attached to them by filtering out all non-billable Matters under the Matters tab.



    Users can [disable billing](https://help.clio.com/hc/en-us/articles/9285959663131-Create-Matters#h_01GEK791XBF1JJ0VYC8BQTG9MW)

    for certain Matters. They can still enter Activities on these Matters, but those

    Activities will not appear in the [Bills page](https://help.clio.com/hc/en-us/articles/9285169278747-Generate-Bills).

    '
- name: Bills
  description: 'Bills are statements of what a user\u2019s client owes for their services\

    \ over a particular billing period, including legal fees, expenses, and taxes.\n\

    \nUsers customize, preview, edit, and approve bills before sending them to a client.\n\

    \n[Support Link](https://help.clio.com/hc/en-us/articles/9285169278747-Generate-Bills)\n"

    '
- name: Calendar Entries
  description: 'Calendar Entries are used to track appointments or deadlines. Users\

    \ can view Calendar Entries on any Calendar that they have \u201CViewer\u201D\

    \ or \u201CEditor\u201D permission for. Users can create Calendar Entries on any\

    \ Calendar that they have \u201CEditor\u201D permission for.\n### Only supports\

    \ dates on or after January 01 1900 00:00 UTC\n* If you attempt to create a date\

    \ before 1900, the year of that date will be pulled forward to 1900 before it''s\

    \ persisted.\n\n### Calendar Update/Deletion Best Practices\n* Prior to updating\

    \ or deleting a calendar entry, check for recurrence.\n* If the recurrence_rule\

    \ parameter is not equal to `null`, offer the following 3 options for the update/deletion,\

    \ as well as the note:\n    1. Only this instance: Update/Delete this event, but\

    \ leave all future events unchanged.\n    2. All following: Updates/Deletes this\

    \ event and all the future events.\n    3. All events in the series: Updates/Deletes\

    \ all events in the series.\n    * Note: If you''ve modified any future events\

    \ in this series, those edits will be lost once you make this change.\n\n[Support\

    \ Link](https://help.clio.com/hc/en-us/articles/9289905071387-Calendar-Events)\n"

    '
- name: Calendar Entry Event Types
  description: ''
- name: Calendars
  description: 'Calendars contain Calendar Entries. All Clio accounts contain one

    firm Calendar ("AccountCalendar"), personal Calendars for each user ("UserCalendar"),

    and any number of manually created Calendars ("AdhocCalendar"). [Calendar sharing](https://help.clio.com/hc/en-us/articles/9289973325467-Calendar-Sharing-and-Permissions)

    settings determine if a Calendar is visible to a User, and if that User is able

    to create or edit Calendar Entries on that Calendar.



    [Support Link](https://help.clio.com/hc/en-us/articles/9290016489883-Calendar-Set-Up-and-Settings)

    '
- name: Clio Payments Links
  description: ''
- name: Clio Payments Payments
  description: 'Payments allow users to record that funds (from checks, cash, credit

    cards, etc.) have been transferred from a client to the firm. In order to pay

    Bills, Payments must be [allocated](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments).



    [Support Link](https://help.clio.com/hc/articles/9285641955355-Record-Edit-and-Delete-Payments)

    '
- name: Communications
  description: 'Users can view all logged phone calls and emails under the Communications

    tab in Clio. This is also where they can use [Clio internal messages](https://help.clio.com/hc/en-us/articles/9125264015259-Internal-Messages).



    Communications can be filtered to show those attached to certain Matters or dates,

    or to show those with or without time entries.



    [Support Link](https://help.clio.com/hc/en-us/sections/9036030931739-Communication)

    '
- name: Email Addresses
  description: 'Email Addresses are email addresses associated with a Contact. This

    endpoint returns all email addresses associated with a Contact.

    '
- name: Phone Numbers
  description: 'Phone Numbers are phone numbers associated with a Contact. This endpoint

    returns all phone numbers associated with a Contact.

    '
- name: Contacts
  description: 'All clients, prospective clients, companies, and external co-counsels\

    \ can be viewed as Contacts under the Contacts tab in Clio Manage.\n\n[Support\

    \ Link](https://help.clio.com/hc/en-us/articles/9290486281627-Clio-Manage-Contacts-Overview)\n\

    \n## Contact Name\nWhen creating a contact of type \"Person\" you must provide\

    \ at least a first name or a last name. This can be done in one of two ways:\n\

    \n1. Providing the name components explicitly (preferred): Using the `first_name`\

    \ and `last_name` parameters.\n2. Providing the full name (discouraged): Using\

    \ the `name` parameter, you can provide the person''s full name (e.g. \"John Smith\"\

    ) and Clio will attempt to infer the individual components of the name. If it\

    \ is unable to do so, you will receive a \"422 Unprocessable Entity: At least\

    \ one of first name or last name must be provided\" Error.\n\n**We recommend using\

    \ the individual name fields when possible to avoid any ambiguities.**\n\n## Associations\n\

    A Contact can be persisted with its associations in a single request. The followings\

    \ detail the nested attributes to persist the associations.\n\n### Addresses\n\

    Checkout the sample request to update the Addresses of a Contact:\n```json\nRequest\n\

    \  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      addresses: [\n     \

    \   // update\n        { id: 1, name: \"Work\", country: \"Canada\" },\n     \

    \   // create\n        { name: \"Home\", street: \"1234 Main Street\", city: \"\

    Burnaby\", province: \"BC\", country: \"Canada\", postal_code: \"V1A 1A1\" },\n\

    \        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n\

    ### Custom Field Values\nA CustomFieldValue contains the value of a CustomField\

    \ for a Contact.\nBelow are some examples of how to create, read, update, and\

    \ destroy the CustomFieldValues of a Contact:\n#### Create\nNote: The value of\

    \ `id` used here is the value of the `id` parameter in the response received when\

    \ [creating a new CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#create)\

    \ or one returned in a [query of an existing CustomField](https://docs.developers.clio.com/api-reference/#operation/CustomField#show).\n\

    ```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values:\

    \ [\n        { custom_field: { id: 2 }, value: \"Initial value\" }\n      ]\n\

    \    }\n  }\n```\n#### Read\nNote: The `id` of the CustomFieldValue is a composite\

    \ value including the custom field type. Use this `id` to update and destroy the\

    \ CustomFieldValue.\nThe `id` of the associated Custom Field can be found by querying\

    \ the `custom_field` for all CustomFieldValues related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,display_number,custom_field_values{id,value,custom_field}`\n\

    \nNote: The `id` may be `NULL` when the CustomField is displayed by default but\

    \ has not yet been given a value.\n```json\nRequest\n  GET /api/v4/contacts/1.json?fields=custom_field_values{id,value,custom_field}\n\

    \  {\n    data: {\n      custom_field_values: [\n        {\n          id: \"text_line-1\"\

    ,\n          value: \"Current value\",\n          custom_field: { id: 2 }\n  \

    \      }\n      ]\n    }\n  }\n```\n#### Update\nNote: The value of the CustomFieldValue\

    \ `id` used here is a composite value and can be found by querying for all CustomFieldValues\

    \ related to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value,custom_field}`\n\

    \nNote: If the `id` is `NULL`, you must provide `custom_field{id}` to create the\

    \ CustomFieldValue and assign a value (see **Create**).\n```json\nRequest\n  PATCH\

    \ /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values: [\n  \

    \      { id: \"text_line-1\", value: \"Updated value\" }\n      ]\n    }\n  }\n\

    ```\n#### Destroy\nNote: The value of the CustomFieldValue `id` used here is a\

    \ composite value and can be found by querying for all CustomFieldValues related\

    \ to the Contact, e.g.: `/api/v4/contacts/1?fields=id,name,custom_field_values{id,value}`\n\

    ```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data: {\n      custom_field_values:\

    \ [\n        { id: \"picklist-2\", _destroy: true }\n      ]\n    }\n  }\n```\n\

    \n### Email Addresses\nCheckout the sample request to update the Email Addresses\

    \ of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data:\

    \ {\n      email_addresses: [\n        // update\n        { id: 1, name: \"Work\"\

    , address: \"demo@clio.com\" },\n        // create\n        { name: \"Home\",\

    \ address: \"home@clio.com\" },\n        // destroy\n        { id: 2, _destroy:\

    \ true }\n      ]\n    }\n```\n\n### Instant Messengers\nCheckout the sample request\

    \ to update the Instant Messengers of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n\

    \  {\n    data: {\n      instant_messengers: [\n        // update\n        { id:\

    \ 1, name: \"Work\", address: \"https://twitter.com/goclio\" },\n        // create\n\

    \        { name: \"Other\", address: \"https://www.facebook.com/GoClio/\" },\n\

    \        // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n\n\

    ### Phone Numbers\nCheckout the sample request to update the Phone Numbers of\

    \ a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n  {\n    data:\

    \ {\n      phone_numbers: [\n        // update\n        { id: 1, name: \"Work\"\

    , number: \"123-456-7890\" },\n        // create\n        { name: \"Other\", number:\

    \ \"000-000-0000\" },\n        // destroy\n        { id: 2, _destroy: true }\n\

    \      ]\n    }\n```\n\n### Web Site\nCheckout the sample request to update the\

    \ Web Site of a Contact:\n```json\nRequest\n  PATCH /api/v4/contacts/1.json\n\

    \  {\n    data: {\n      web_sites: [\n        // update\n        { id: 1, name:\

    \ \"Work\", address: \"https://help.clio.com/\" },\n        // create\n      \

    \  { name: \"Other\", address: \"https://www.clio.com/about/careers/\" },\n  \

    \      // destroy\n        { id: 2, _destroy: true }\n      ]\n    }\n```\n"

    '
x-tagGroups:
- name: Activities
  tags:
  - Activities
- name: Activity
  tags:
  - Activity Descriptions
  - Activity Rates
- name: Allocations
  tags:
  - Allocations
- name: Bank
  tags:
  - Bank Accounts
  - Bank Transactions
  - Bank Transfers
- name: Bill
  tags:
  - Bill Themes
- name: Billable
  tags:
  - Billable Clients
  - Billable Matters
- name: Bills
  tags:
  - Bills
- name: Calendar
  tags:
  - Calendar Entries
  - Calendar Entry Event Types
- name: Calendars
  tags:
  - Calendars
- name: Clio
  tags:
  - Clio Payments Links
  - Clio Payments Payments
- name: Communications
  tags:
  - Communications
- name: Contacts
  tags:
  - Contacts
- name: Email
  tags:
  - Email Addresses
- name: Phone
  tags:
  - Phone Numbers
paths: {}
components:
  schemas:
    ErrorDetail:
      type: object
      required:
      - type
      - message
      properties:
        type:
          type: string
          description: Unique name for this error
        message:
          type: string
          description: Detailed message about the error
    Error:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    IdsResponse:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            type: integer
            format: int64
          description: A list of ids
    Comment_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Comment*
        etag:
          type: string
          description: ETag for the *Comment*
        message:
          type: string
          description: The content of the Comment
        created_at:
          type: string
          format: date-time
          description: The time the *Comment* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Comment* was last updated (as a ISO-8601 timestamp)
    Comment:
      allOf:
      - $ref: '#/components/schemas/Comment_base'
      - type: object
        properties:
          creator:
            $ref: '#/components/schemas/User_base'
            description: User
          document_version:
            $ref: '#/components/schemas/DocumentVersion_base'
            description: DocumentVersion
    Comment_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Comment'
    Comment_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Comment List Response
          items:
            $ref: '#/components/schemas/Comment'
    DocumentArchive_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentArchive*
        etag:
          type: string
          description: ETag for the *DocumentArchive*
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentArchive* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentArchive* was last updated (as a ISO-8601
            timestamp)
        size:
          type: integer
          format: int32
          description: The size of the DocumentArchive in bytes.
        progress:
          type: number
          format: double
          description: The percent completion of the DocumentArchive.
        state:
          type: string
          enum:
          - not_started
          - queued
          - in_progress
          - completed
          - failed
          description: The current state of the DocumentArchive.
        message:
          type: string
          description: A message to indicate why the DocumentArchive didn't complete.
    DocumentArchive:
      allOf:
      - $ref: '#/components/schemas/DocumentArchive_base'
      - type: object
        properties: {}
    DocumentArchive_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/DocumentArchive'
    DocumentAutomation_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentAutomation*
        etag:
          type: string
          description: ETag for the *DocumentAutomation*
        state:
          type: string
          enum:
          - not_started
          - queued
          - in_progress
          - empty
          - failed
          - completed
          description: A text description of what the automation is currently doing
        export_formats:
          type: string
          enum:
          - pdf
          - original
          description: An array of what formats were requested
        filename:
          type: string
          description: The name of the file being generated.
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentAutomation* was created (as a ISO-8601
            timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentAutomation* was last updated (as a ISO-8601
            timestamp)
    DocumentAutomation:
      allOf:
      - $ref: '#/components/schemas/DocumentAutomation_base'
      - type: object
        properties:
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          document_template:
            $ref: '#/components/schemas/DocumentTemplate_base'
            description: DocumentTemplate
          documents:
            type: array
            items:
              $ref: '#/components/schemas/Document_base'
            description: Document
    DocumentAutomation_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/DocumentAutomation'
    DocumentAutomation_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: DocumentAutomation List Response
          items:
            $ref: '#/components/schemas/DocumentAutomation'
    DocumentCategory_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentCategory*
        etag:
          type: string
          description: ETag for the *DocumentCategory*
        name:
          type: string
          description: The name of the *DocumentCategory*
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentCategory* was created (as a ISO-8601
            timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentCategory* was last updated (as a ISO-8601
            timestamp)
    DocumentCategory:
      allOf:
      - $ref: '#/components/schemas/DocumentCategory_base'
      - type: object
        properties: {}
    DocumentCategory_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/DocumentCategory'
    DocumentCategory_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: DocumentCategory List Response
          items:
            $ref: '#/components/schemas/DocumentCategory'
    Document_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Document*
        etag:
          type: string
          description: ETag for the *Document*
        created_at:
          type: string
          format: date-time
          description: The time the *Document* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Document* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Document* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Document
          description: The type of the *Document*
        locked:
          type: boolean
          description: Whether or not the Document is locked. Locked Document cannot
            be modified
        name:
          type: string
          description: The name of the Document
        received_at:
          type: string
          format: date-time
          description: The time the last document version was received (as an ISO-8601
            timestamp)
        filename:
          type: string
          description: The uploaded file name of the latest document version.
        size:
          type: integer
          format: int32
          description: The file size
        content_type:
          type: string
          description: The uploaded file content type
    Document:
      allOf:
      - $ref: '#/components/schemas/Document_base'
      - type: object
        properties:
          parent:
            $ref: '#/components/schemas/LinkedFolder_base'
            description: LinkedFolder
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          document_category:
            $ref: '#/components/schemas/DocumentCategory_base'
            description: DocumentCategory
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          latest_document_version:
            $ref: '#/components/schemas/DocumentVersion'
            description: DocumentVersion
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
    Document_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Document'
    Document_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Document List Response
          items:
            $ref: '#/components/schemas/Document'
    DocumentTemplate_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentTemplate*
        etag:
          type: string
          description: ETag for the *DocumentTemplate*
        size:
          type: integer
          format: int32
          description: The size in bytes of the template
        content_type:
          type: string
          description: A standard MIME type describing the format of the object data.
        filename:
          type: string
          description: The name of the original file that was uploaded
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentTemplate* was created (as a ISO-8601
            timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentTemplate* was last updated (as a ISO-8601
            timestamp)
    DocumentTemplate:
      allOf:
      - $ref: '#/components/schemas/DocumentTemplate_base'
      - type: object
        properties:
          document_category:
            $ref: '#/components/schemas/DocumentCategory_base'
            description: DocumentCategory
          last_modified_by:
            $ref: '#/components/schemas/User_base'
            description: User
    DocumentTemplate_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/DocumentTemplate'
    DocumentTemplate_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: DocumentTemplate List Response
          items:
            $ref: '#/components/schemas/DocumentTemplate'
    DocumentVersion_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *DocumentVersion*
        document_id:
          type: integer
          format: int64
          description: The ID of the parent document.
        etag:
          type: string
          description: ETag for the *DocumentVersion*
        uuid:
          type: string
          description: UUID associated with the DocumentVersion. UUID is required
            to mark a document fully uploaded.
        created_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *DocumentVersion* was last updated (as a ISO-8601
            timestamp)
        filename:
          type: string
          description: The uploaded file name of the DocumentVersion.
        size:
          type: integer
          format: int32
          description: The size of the DocumentVersion in bytes.
        version_number:
          type: integer
          format: int32
          description: The ordered number of when this DocumentVersion was uploaded.
        content_type:
          type: string
          description: A standard MIME type describing the format of the object data.
        received_at:
          type: string
          format: date-time
          description: The time the DocumentVersion was received (as an ISO-8601 timestamp)
        put_url:
          type: string
          description: A signed URL for uploading the file in a single operation.
            It expires in 10 minutes. If the document is fully uploaded, the field
            is empty.
        fully_uploaded:
          type: boolean
          description: True if the DocumentVersion is uploaded. False if the DocumentVersion
            is being uploaded.
    DocumentVersion:
      allOf:
      - $ref: '#/components/schemas/DocumentVersion_base'
      - type: object
        properties:
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          put_headers:
            type: array
            items:
              $ref: '#/components/schemas/MultipartHeader_base'
            description: MultipartHeader
          multiparts:
            type: array
            items:
              $ref: '#/components/schemas/Multipart'
            description: Multipart
    DocumentVersion_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: DocumentVersion List Response
          items:
            $ref: '#/components/schemas/DocumentVersion'
    Folder_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Folder*
        etag:
          type: string
          description: ETag for the *Folder*
        created_at:
          type: string
          format: date-time
          description: The time the *Folder* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Folder* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Folder* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Folder
          description: The type of the *Folder*
        locked:
          type: boolean
          description: Whether or not the Folder is locked. Locked Folder cannot be
            modified
        name:
          type: string
          description: The name of the Folder
        root:
          type: boolean
          description: Whether or not the Folder is the root folder. There is only
            one root folder per account
    Folder:
      allOf:
      - $ref: '#/components/schemas/Folder_base'
      - type: object
        properties:
          parent:
            $ref: '#/components/schemas/LinkedFolder_base'
            description: LinkedFolder
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          document_category:
            $ref: '#/components/schemas/DocumentCategory_base'
            description: DocumentCategory
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          latest_document_version:
            $ref: '#/components/schemas/DocumentVersion_base'
            description: DocumentVersion
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
    Folder_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Folder'
    Folder_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Folder List Response
          items:
            $ref: '#/components/schemas/Folder'
    Item_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Item*
        etag:
          type: string
          description: ETag for the *Item*
        created_at:
          type: string
          format: date-time
          description: The time the *Item* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Item* was last updated (as a ISO-8601 timestamp)
        deleted_at:
          type: string
          format: date-time
          description: The time the *Item* was deleted (as a ISO-8601 timestamp)
        type:
          type: string
          enum:
          - Document
          - Folder
          description: The type of the *Item*
        locked:
          type: boolean
          description: Whether or not the Item is locked. Locked Item cannot be modified
        name:
          type: string
          description: The name of the Item
    Item:
      allOf:
      - $ref: '#/components/schemas/Item_base'
      - type: object
        properties:
          parent:
            $ref: '#/components/schemas/LinkedFolder_base'
            description: LinkedFolder
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          document_category:
            $ref: '#/components/schemas/DocumentCategory_base'
            description: DocumentCategory
          creator:
            $ref: '#/components/schemas/ClioCreator_base'
            description: ClioCreator
          latest_document_version:
            $ref: '#/components/schemas/DocumentVersion_base'
            description: DocumentVersion
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
    Item_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Item List Response
          items:
            $ref: '#/components/schemas/Item'
    Account_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Account*
        etag:
          type: string
          description: ETag for the *Account*
        name:
          type: string
          description: The name of the *Account*
        state:
          type: string
          description: Account state
        created_at:
          type: string
          format: date-time
          description: The time the *Account* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Account* was last updated (as a ISO-8601 timestamp)
    Account:
      allOf:
      - $ref: '#/components/schemas/Account_base'
      - type: object
        properties:
          owner:
            $ref: '#/components/schemas/User_base'
            description: User
    ActivityDescription_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ActivityDescription*
        etag:
          type: string
          description: ETag for the *ActivityDescription*
        name:
          type: string
          description: The name of the *ActivityDescription*
        visible_to_co_counsel:
          type: boolean
          description: A toggle that determines if a co-counsel user of the firm can
            have access to this activity description
        created_at:
          type: string
          format: date-time
          description: The time the *ActivityDescription* was created (as a ISO-8601
            timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ActivityDescription* was last updated (as a ISO-8601
            timestamp)
        default:
          type: boolean
          description: Whether it is the user's default activity description
        type:
          type: string
          description: The type of the *ActivityDescription*
        utbms_activity_id:
          type: integer
          format: int64
          description: The UTBMS activity id if the *ActivityDescription* is a UTBMS
            activity description
        utbms_task_name:
          type: string
          description: The UTBMS activity task name if attached to a UTBMS activity
            description
        utbms_task_id:
          type: integer
          format: int64
          description: The UTBMS activity task id if attached to a UTBMS activity
            description
        xero_service_code:
          type: string
          description: Custom Xero service code for this activity description
        accessible_to_user:
          type: boolean
          description: Determines if activity description is accessible to user
        category_type:
          type: string
          description: Activity category rate type. Either hourly or flat fee
        currency:
          type: object
          description: The currency of the activity description
    ActivityDescription:
      allOf:
      - $ref: '#/components/schemas/ActivityDescription_base'
      - type: object
        properties:
          groups:
            type: array
            items:
              $ref: '#/components/schemas/Group_base'
            description: Group
          rate:
            $ref: '#/components/schemas/ActivityDescriptionRate_base'
            description: ActivityDescriptionRate
          utbms_task:
            $ref: '#/components/schemas/UtbmsCode_base'
            description: UtbmsCode
          utbms_activity:
            $ref: '#/components/schemas/UtbmsCode_base'
            description: UtbmsCode
          currency:
            $ref: '#/components/schemas/Currency_base'
            description: Currency
    ActivityDescription_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ActivityDescription'
    ActivityDescription_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: ActivityDescription List Response
          items:
            $ref: '#/components/schemas/ActivityDescription'
    ActivityRate_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ActivityRate*
        etag:
          type: string
          description: ETag for the *ActivityRate*
        rate:
          type: number
          format: double
          description: Monetary value of this rate. Either hourly value or flat rate
            value
        flat_rate:
          type: boolean
          description: Whether this is a flat rate
        created_at:
          type: string
          format: date-time
          description: The time the *ActivityRate* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *ActivityRate* was last updated (as a ISO-8601
            timestamp)
        contact_id:
          type: integer
          format: int64
          description: Filter ActivityRate records for the contact.
        co_counsel_contact_id:
          type: integer
          format: int64
          description: Filter ActivityRate records for the co-counsel.
    ActivityRate:
      allOf:
      - $ref: '#/components/schemas/ActivityRate_base'
      - type: object
        properties:
          user:
            $ref: '#/components/schemas/User_base'
            description: User
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
    ActivityRate_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ActivityRate'
    ActivityRate_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: ActivityRate List Response
          items:
            $ref: '#/components/schemas/ActivityRate'
    Activity_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Activity*
        etag:
          type: string
          description: ETag for the *Activity*
        type:
          type: string
          enum:
          - TimeEntry
          - ExpenseEntry
          - HardCostEntry
          - SoftCostEntry
          description: The type of the *Activity*
        date:
          type: string
          format: date
          description: The date the *Activity* was performed (as a ISO-8601 date)
        quantity_in_hours:
          type: number
          format: double
          description: The number of hours the TimeEntry took.
        rounded_quantity_in_hours:
          type: number
          format: double
          description: 'The number of hours rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.

            '
        quantity:
          type: number
          format: double
          description: 'The field is applicable to TimeEntry, ExpenseEntry, and SoftCostEntry.


            **Version <= 4.0.3:**

            The number of hours the TimeEntry took.


            **Latest version:**

            The number of seconds the TimeEntry took.

            '
        rounded_quantity:
          type: number
          format: double
          description: 'The field is applicable to time entries only.


            **Version <= 4.0.3:**

            The number of hours rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.


            **Latest version:**

            The number of seconds rounded accordingly to the billing settings.

            The rounded value is used to calculate the total.

            '
        quantity_redacted:
          type: boolean
          description: 'Is `true` if any of the following fields are redacted:

            `quantity`, `rounded_quantity`, `rounded_quantity_in_hours`, `quantity_in_hours`,
            `total`, `non_billable_total`

            '
        price:
          type: number
          format: double
          description: The hourly or flat rate of the *Activity*
        note:
          type: string
          description: The details about the *Activity*
        flat_rate:
          type: boolean
          description: Whether the *Activity* is a flat rate
        billed:
          type: boolean
          description: Whether the *Activity* has been added to an active bill that
            is in the state of `awaiting_payment` or `paid`
        on_bill:
          type: boolean
          description: Whether the *Activity* has been added to an active bill that
            is in the state of `draft`, `awaiting_approval`, `awaiting_payment` or
            `paid`
        total:
          type: number
          format: double
          description: The total cost of draft, billable and billed items in the *Activity*
        contingency_fee:
          type: boolean
          description: Whether or not the *Activity* is a contingency fee
        created_at:
          type: string
          format: date-time
          description: The time the *Activity* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Activity* was last updated (as a ISO-8601 timestamp)
        reference:
          type: string
          description: A check reference for a HardCostEntry.
        non_billable:
          type: boolean
          description: Whether the *Activity* is non-billable
        non_billable_total:
          type: number
          format: double
          description: The total cost of non-billable items in the *Activity*
        no_charge:
          type: boolean
          description: Whether the non-billable *Activity* is shown on the bill.
        tax_setting:
          type: string
          enum:
          - no_tax
          - tax_1_only
          - tax_2_only
          - tax_1_and_tax_2
          description: The option denoting whether primary tax, secondary tax, or
            both is applied to an expense entry.
        currency:
          type: object
          description: The currency of the *Activity*
    Activity:
      allOf:
      - $ref: '#/components/schemas/Activity_base'
      - type: object
        properties:
          activity_description:
            $ref: '#/components/schemas/ActivityDescription_base'
            description: ActivityDescription
          expense_category:
            $ref: '#/components/schemas/ExpenseCategory_base'
            description: ExpenseCategory
          bill:
            $ref: '#/components/schemas/Bill_base'
            description: Bill
          communication:
            $ref: '#/components/schemas/Communication_base'
            description: Communication
          client_portal:
            $ref: '#/components/schemas/ClientPortal_base'
            description: ClientPortal
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          matter_note:
            $ref: '#/components/schemas/Note_base'
            description: Note
          contact_note:
            $ref: '#/components/schemas/Note_base'
            description: Note
          subject:
            $ref: '#/components/schemas/PolymorphicObject_base'
            description: PolymorphicObject
          timer:
            $ref: '#/components/schemas/Timer_base'
            description: Timer
          user:
            $ref: '#/components/schemas/User_base'
            description: User
          utbms_expense:
            $ref: '#/components/schemas/UtbmsCode_base'
            description: UtbmsCode
          vendor:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          calendar_entry:
            $ref: '#/components/schemas/Activity_CalendarEntry_base'
            description: CalendarEntry
          task:
            $ref: '#/components/schemas/Activity_Task_base'
            description: Task
          text_message_conversation:
            $ref: '#/components/schemas/Activity_TextMessageConversation_base'
            description: TextMessageConversation
          document_version:
            $ref: '#/components/schemas/DocumentVersion_base'
            description: DocumentVersion
          legal_aid_uk_activity:
            $ref: '#/components/schemas/LegalAidUkActivity_base'
            description: LegalAidUkActivity
          currency:
            $ref: '#/components/schemas/Currency_base'
            description: Currency
    Activity_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Activity'
    Activity_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Activity List Response
          items:
            $ref: '#/components/schemas/Activity'
    Activity_CalendarEntry_base:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the *CalendarEntry*
        etag:
          type: string
          description: ETag for the *CalendarEntry*
        calendar_owner_id:
          type: integer
          format: int64
          description: The id of the calendar owner.
    Activity_Task_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Task*
        etag:
          type: string
          description: ETag for the *Task*
    Activity_TextMessageConversation_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *TextMessageConversation*
        etag:
          type: string
          description: ETag for the *TextMessageConversation*
    Address_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Address*
        etag:
          type: string
          description: ETag for the *Address*
        street:
          type: string
          description: Street of the *Address*
        city:
          type: string
          description: City of the *Address*
        province:
          type: string
          description: Province or state of the *Address*
        postal_code:
          type: string
          description: Postal code of the *Address*
        country:
          type: string
          description: Country of the *Address*
        name:
          type: string
          enum:
          - Work
          - Home
          - Billing
          - Other
          description: The name of the *Address*
        created_at:
          type: string
          format: date-time
          description: The time the *Address* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Address* was last updated (as a ISO-8601 timestamp)
        primary:
          type: boolean
          description: Whether it is the default for this contact
    Address:
      allOf:
      - $ref: '#/components/schemas/Address_base'
      - type: object
        properties: {}
    Allocation_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Allocation*
        etag:
          type: string
          description: ETag for the *Allocation*
        date:
          type: string
          format: date
          description: The date the allocation was applied (as a ISO-8601 date)
        amount:
          type: number
          format: double
          description: The total amount of money that the user has allocated
        interest:
          type: boolean
          description: Whether the allocation is applied to interest amount
        voided_at:
          type: string
          format: date-time
          description: Time the *Allocation* was voided (as a ISO-8601 timestamp)
        created_at:
          type: string
          format: date-time
          description: The time the *Allocation* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Allocation* was last updated (as a ISO-8601 timestamp)
        description:
          type: string
          description: The description from the associated Credit Memo (if applicable)
        has_online_payment:
          type: boolean
          description: Whether this allocation is associated with an online payment
            or not
        destroyable:
          type: boolean
          description: Whether the record can be deleted or not
        payment_type:
          type: string
          description: A string indicating whether the payment is a card or an eCheck
            payment.
    Allocation:
      allOf:
      - $ref: '#/components/schemas/Allocation_base'
      - type: object
        properties:
          bill:
            $ref: '#/components/schemas/Bill_base'
            description: Bill
          source_bank_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          destination_bank_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          parent:
            $ref: '#/components/schemas/PolymorphicObject_base'
            description: PolymorphicObject
    Allocation_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Allocation'
    Allocation_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Allocation List Response
          items:
            $ref: '#/components/schemas/Allocation'
    Balance_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Balance*
        amount:
          type: number
          format: double
          description: The amount for this Balance.
        type:
          type: string
          enum:
          - Matter
          - Client
          description: The type of Balance this data is for.
        interest_amount:
          type: number
          format: double
          description: The interest amount for this Balance.
        due:
          type: number
          format: double
          description: The amount due for this Balance, factoring in applicable discounts.
    Balance:
      allOf:
      - $ref: '#/components/schemas/Balance_base'
      - type: object
        properties: {}
    BankAccount_base:
      type: object
      properties:
        account_number:
          type: string
          description: The account number for *BankAccount*
        balance:
          type: number
          format: double
          description: The current balance of the *BankAccount*
        bank_transactions_count:
          type: integer
          format: int32
          description: The number of bank transactions associated with the account.
        clio_payment_page_link:
          type: string
          description: Link to Single Payment Page which allows to transfer funds
            without logging in.
        clio_payment_page_qr_code:
          type: string
          description: A QR code that links to a Single Payment Page which allows
            to transfer funds without logging in.
        clio_payments_enabled:
          type: boolean
          description: Whether the bank account is connected to Clio Payments
        controlled_account:
          type: boolean
          description: Whether is a controlled account
        created_at:
          type: string
          format: date-time
          description: The time the *BankAccount* was created (as a ISO-8601 timestamp)
        currency:
          type: string
          description: The currency type of the *BankAccount*
        currency_symbol:
          type: string
          description: The currency symbol of the *BankAccount*
        currency_id:
          type: number
          format: double
          description: The currency ID of the *BankAccount*
        default_account:
          type: boolean
          description: Whether it is the default account
        domicile_branch:
          type: string
          description: The name of the branch where the account was opened
        etag:
          type: string
          description: ETag for the *BankAccount*
        general_ledger_number:
          type: string
          description: General ledger number
        holder:
          type: string
          description: The name of the person or business that owns the *BankAccount*
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BankAccount*
        institution:
          type: string
          description: The financial institution where the *BankAccount* is registered
        name:
          type: string
          description: The name of the *BankAccount*
        swift:
          type: string
          description: A unique identification code for the financial institution
        transit_number:
          type: string
          description: Transit number for the bank account branch
        type:
          type: string
          enum:
          - Operating
          - Trust
          description: The type of the *BankAccount*
        updated_at:
          type: string
          format: date-time
          description: The time the *BankAccount* was last updated (as a ISO-8601
            timestamp)
    BankAccount:
      allOf:
      - $ref: '#/components/schemas/BankAccount_base'
      - type: object
        properties:
          user:
            $ref: '#/components/schemas/User_base'
            description: User
    BankAccount_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/BankAccount'
    BankAccount_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: BankAccount List Response
          items:
            $ref: '#/components/schemas/BankAccount'
    BankTransaction_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BankTransaction*
        type:
          type: string
          description: The type of the *BankTransaction*
        etag:
          type: string
          description: ETag for the *BankTransaction*
        created_at:
          type: string
          format: date-time
          description: The time the *BankTransaction* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *BankTransaction* was last updated (as a ISO-8601
            timestamp)
        bank_account_id:
          type: integer
          format: int64
          description: The associated bank account.
        source:
          type: string
          description: Where the transaction came from.
        confirmation:
          type: string
          description: The reference code for the transaction.
        date:
          type: string
          format: date
          description: The date of the transaction.
        amount:
          type: number
          format: double
          description: The amount of the transaction.
        currency:
          type: string
          description: The currency of the transaction.
        currency_id:
          type: integer
          format: int64
          description: The id of the currency of the transaction.
        description:
          type: string
          description: The description of the transaction.
        exchange_rate:
          type: number
          format: double
          description: The exchange rate of the transaction.
        transaction_type:
          type: string
          description: What kind of transaction.
        funds_in:
          type: number
          format: double
          description: The amount of funds received in this transaction.
        funds_out:
          type: number
          format: double
          description: The amount of funds withdrawn in this transaction.
        clio_payments_transaction:
          type: boolean
          description: Whether the transaction was created through online payments.
        current_account_balance:
          type: number
          format: double
          description: The current account balance.
        read_only_confirmation:
          type: boolean
          description: Whether the transaction's reference code is read-only.
    BankTransaction:
      allOf:
      - $ref: '#/components/schemas/BankTransaction_base'
      - type: object
        properties:
          client:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          bank_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          bill:
            $ref: '#/components/schemas/Bill_base'
            description: Bill
          allocation:
            $ref: '#/components/schemas/Allocation_base'
            description: Allocation
    BankTransaction_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/BankTransaction'
    BankTransaction_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: BankTransaction List Response
          items:
            $ref: '#/components/schemas/BankTransaction'
    BankTransfer_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BankTransfer*
        etag:
          type: string
          description: ETag for the *BankTransfer*
        amount:
          type: number
          format: double
          description: The amount of the transfer.
        date:
          type: string
          format: date-time
          description: The date of the transfer.
        description:
          type: string
          description: The description of the transfer.
        primary_authorizer:
          type: string
          description: The primary authorizer of the transfer.
        secondary_authorizer:
          type: string
          description: The secondary authorizer of the transfer.
        created_at:
          type: string
          format: date-time
          description: The time the *BankTransfer* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *BankTransfer* was last updated (as a ISO-8601
            timestamp)
    BankTransfer:
      allOf:
      - $ref: '#/components/schemas/BankTransfer_base'
      - type: object
        properties:
          client:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          destination_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          source_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
    BankTransfer_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/BankTransfer'
    Bill_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Bill*
        etag:
          type: string
          description: ETag for the *Bill*
        number:
          type: string
          description: The *Bill* identifier (not necessarily numeric)'
        issued_at:
          type: string
          format: date
          description: The time the *Bill* was issued (as a ISO-8601 date)
        created_at:
          type: string
          format: date-time
          description: The time the *Bill* was created (as a ISO-8601 timestamp)
        due_at:
          type: string
          format: date
          description: The date the *Bill* is due (as a ISO-8601 date)
        tax_rate:
          type: number
          format: double
          description: The tax rate to the *Bill*
        secondary_tax_rate:
          type: number
          format: double
          description: A secondary tax rate applied to the *Bill*
        updated_at:
          type: string
          format: date-time
          description: The time the *Bill* was last updated (as a ISO-8601 timestamp)
        subject:
          type: string
          description: The subject of the *Bill*
        purchase_order:
          type: string
          description: The purchase order of the *Bill*
        type:
          type: string
          enum:
          - MatterBill
          - ClientBill
          description: The type of the *Bill*
        memo:
          type: string
          description: A memo for the *Bill*
        start_at:
          type: string
          format: date
          description: The time the billing period starts (as a ISO-8601 date)
        end_at:
          type: string
          format: date
          description: The time the billing period ends (as a ISO-8601 date)
        balance:
          type: number
          format: double
          description: The outstanding balance of the *Bill*
        state:
          type: string
          enum:
          - draft
          - awaiting_approval
          - awaiting_payment
          - paid
          - void
          - deleted
          description: The billing state the *Bill* is in
        kind:
          type: string
          enum:
          - revenue_kind
          - summary_kind
          - trust_kind
          - aggregate_all
          - aggregate_split
          - aggregate_services
          - aggregate_expenses
          description: The kind of the *Bill*
        total:
          type: number
          format: double
          description: The total with interest of the *Bill*
        paid:
          type: number
          format: double
          description: The total amount paid for the *Bill*
        paid_at:
          type: string
          format: date-time
          description: The date of the last payment on the *Bill*
        pending:
          type: number
          format: double
          description: The amount of pending credit card payments on the *Bill*
        due:
          type: number
          format: double
          description: The total amount of the *Bill* with interest and less discounts
        discount_services_only:
          type: string
          description: The selected discount is applied to services only.
        can_update:
          type: boolean
          description: This value indicates if your *Bill*'s line items and information
            can be updated.
        credits_issued:
          type: number
          format: double
          description: The total credits issued for the *Bill*
        shared:
          type: boolean
          description: Whether the *Bill* is a shared
        last_sent_at:
          type: string
          format: date-time
          description: The last time the *Bill* was sent (as a ISO-8601 date)
        services_secondary_tax:
          type: number
          format: double
          description: The total secondary tax of the bill's line items of a service
            kind
        services_sub_total:
          type: number
          format: double
          description: The sub total of all the bill's line items of a service kind
        services_tax:
          type: number
          format: double
          description: The total tax of the bill's line items of a service kind
        services_taxable_sub_total:
          type: integer
          format: int64
          description: The services portion of the bill's primary tax
        services_secondary_taxable_sub_total:
          type: integer
          format: int64
          description: The services portion of the bill's secondary tax
        taxable_sub_total:
          type: integer
          format: int64
          description: The total taxable bill amount
        secondary_taxable_sub_total:
          type: integer
          format: int64
          description: The subtotal of the bill's secondary tax
        sub_total:
          type: number
          format: double
          description: Sub total for the *Bill*
        tax_sum:
          type: number
          format: double
          description: Sum of primary tax for the model
        secondary_tax_sum:
          type: number
          format: double
          description: Sum of secondary tax for the model
        total_tax:
          type: number
          format: double
          description: The total amount of tax for the bill.
        available_state_transitions:
          type: array
          items:
            type: string
            enum:
            - awaiting_approval
            - awaiting_payment
            - paid
            - void
            - deleted
          description: The available *Bill* state transitions.
    Bill:
      allOf:
      - $ref: '#/components/schemas/Bill_base'
      - type: object
        properties:
          user:
            $ref: '#/components/schemas/User_base'
            description: User
          client:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          discount:
            $ref: '#/components/schemas/Discount_base'
            description: Discount
          interest:
            $ref: '#/components/schemas/Interest_base'
            description: Interest
          matters:
            type: array
            items:
              $ref: '#/components/schemas/Matter_base'
            description: Matter
          group:
            $ref: '#/components/schemas/Group_base'
            description: Group
          bill_theme:
            $ref: '#/components/schemas/BillTheme_base'
            description: BillTheme
          original_bill:
            $ref: '#/components/schemas/Bill_base'
            description: Bill
          destination_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          balances:
            type: array
            items:
              $ref: '#/components/schemas/Balance_base'
            description: Balance
          matter_totals:
            type: array
            items:
              $ref: '#/components/schemas/MatterBalance_base'
            description: MatterBalance
          currency:
            $ref: '#/components/schemas/Currency_base'
            description: Currency
          billing_setting:
            $ref: '#/components/schemas/BillingSetting_base'
            description: BillingSetting
          client_addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address_base'
            description: Address
          legal_aid_uk_bill:
            $ref: '#/components/schemas/LegalAidUkBill_base'
            description: LegalAidUkBill
          split_invoice:
            $ref: '#/components/schemas/SplitInvoice_base'
            description: SplitInvoice
    Bill_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Bill'
    Bill_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Bill List Response
          items:
            $ref: '#/components/schemas/Bill'
    BillTheme_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BillTheme*
        etag:
          type: string
          description: ETag for the *BillTheme*
        created_at:
          type: string
          format: date-time
          description: The time the *BillTheme* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *BillTheme* was last updated (as a ISO-8601 timestamp)
        account_id:
          type: integer
          format: int64
          description: The account number the *BillTheme* belongs to
        default:
          type: boolean
          description: Whether the *BillTheme* is the default for its account
        name:
          type: string
          description: The name of the *BillTheme*
        config:
          type: string
          description: The configuration of the *BillTheme*
    BillTheme:
      allOf:
      - $ref: '#/components/schemas/BillTheme_base'
      - type: object
        properties: {}
    BillTheme_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/BillTheme'
    BillTheme_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: BillTheme List Response
          items:
            $ref: '#/components/schemas/BillTheme'
    BillableClient_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BillableClient*
        unbilled_hours:
          type: number
          format: double
          description: The unbilled hours of  the client
        unbilled_amount:
          type: number
          format: double
          description: The unbilled amount of the client
        amount_in_trust:
          type: number
          format: double
          description: The trust amount available for the client
        name:
          type: string
          description: The name of the Client
        billable_matters_count:
          type: integer
          format: int32
          description: The total number of billable matters the client has
    BillableClient:
      allOf:
      - $ref: '#/components/schemas/BillableClient_base'
      - type: object
        properties:
          billable_matters:
            type: array
            items:
              $ref: '#/components/schemas/BillableMatter_base'
            description: BillableMatter
    BillableClient_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: BillableClient List Response
          items:
            $ref: '#/components/schemas/BillableClient'
    BillableMatter_base:
      type: object
      properties:
        currency_code:
          type: string
          description: The currency code
        currency_id:
          type: integer
          format: int64
          description: The currency ID
        id:
          type: integer
          format: int64
          description: Unique identifier for the *BillableMatter*
        unbilled_hours:
          type: number
          format: double
          description: The unbilled number of hours for the matter
        unbilled_amount:
          type: number
          format: double
          description: The unbilled amount for the matter
        amount_in_trust:
          type: number
          format: double
          description: The trust amount available for the matter
        display_number:
          type: string
          description: The reference to the matter
    BillableMatter:
      allOf:
      - $ref: '#/components/schemas/BillableMatter_base'
      - type: object
        properties:
          client:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
    BillableMatter_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/BillableMatter'
    BillableMatter_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: BillableMatter List Response
          items:
            $ref: '#/components/schemas/BillableMatter'
    CalendarEntryEventType_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *CalendarEntryEventType*
        etag:
          type: string
          description: ETag for the *CalendarEntryEventType*
        created_at:
          type: string
          format: date-time
          description: The time the *CalendarEntryEventType* was created (as a ISO-8601
            timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CalendarEntryEventType* was last updated (as
            a ISO-8601 timestamp)
        color:
          type: string
          enum:
          - '#367B9C'
          - '#FFA5A4'
          - '#83D17F'
          - '#FFAC7B'
          - '#8E3F64'
          - '#C75300'
          - '#009CEC'
          - '#62D6B1'
          - '#9EEDCB'
          - '#F9A2C4'
          - '#616161'
          - '#BBDA81'
          - '#DFD3F8'
          - '#D6C4A5'
          - '#FFD478'
          - '#6AC9DE'
          - '#EABBB0'
          - '#BFC2E1'
          - '#DADADA'
          - '#CDE2F5'
          description: The color describing the *CalendarEntryEventType*
        name:
          type: string
          description: The name for the *CalendarEntryEventType*
    CalendarEntryEventType:
      allOf:
      - $ref: '#/components/schemas/CalendarEntryEventType_base'
      - type: object
        properties: {}
    CalendarEntry_base:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the *CalendarEntry*
        etag:
          type: string
          description: ETag for the *CalendarEntry*
        summary:
          type: string
          description: A short summary of the *CalendarEntry*
        description:
          type: string
          description: A detailed description of the *CalendarEntry*
        location:
          type: string
          description: The geographic location of the *CalendarEntry*
        start_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* starts (as an ISO-8601 timestamp)
        end_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* ends (as an ISO-8601 timestamp)
        all_day:
          type: boolean
          description: Whether the event is all day
        recurrence_rule:
          type: string
          description: Recurrence rule for expanding
        parent_calendar_entry_id:
          type: integer
          format: int64
          description: Identifier for the parent *CalendarEntry*
        court_rule:
          type: boolean
          description: Whether this event is associated with a Court Rule
        created_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *CalendarEntry* was last updated (as a ISO-8601
            timestamp)
        permission:
          type: string
          description: The view permission for the current user, will return 'viewer'
            when permission is 'limited_viewer' and the user is an attendee.
        calendar_owner_id:
          type: integer
          format: int64
          description: The id of the calendar owner.
        start_at_time_zone:
          type: string
          description: Original start at time zone of the event.
        time_entries_count:
          type: integer
          format: int32
          description: The number of `TimeEntry` activities associated with the *CalendarEntry*
    CalendarEntry:
      allOf:
      - $ref: '#/components/schemas/CalendarEntry_base'
      - type: object
        properties:
          time_entries:
            type: array
            items:
              $ref: '#/components/schemas/Activity_base'
            description: Activity
          conference_meeting:
            $ref: '#/components/schemas/ConferenceMeeting_base'
            description: ConferenceMeeting
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          matter_docket:
            $ref: '#/components/schemas/MatterDocket_base'
            description: MatterDocket
          calendar_owner:
            $ref: '#/components/schemas/Calendar_base'
            description: Calendar
          parent_calendar_entry:
            $ref: '#/components/schemas/CalendarEntry_base'
            description: CalendarEntry
          calendar_entry_event_type:
            $ref: '#/components/schemas/CalendarEntryEventType_base'
            description: CalendarEntryEventType
          attendees:
            type: array
            items:
              $ref: '#/components/schemas/Attendee_base'
            description: Attendee
          calendars:
            type: array
            items:
              $ref: '#/components/schemas/Calendar_base'
            description: Calendar
          reminders:
            type: array
            items:
              $ref: '#/components/schemas/Reminder_base'
            description: Reminder
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
    CalendarEntry_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/CalendarEntry'
    CalendarEntry_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: CalendarEntry List Response
          items:
            $ref: '#/components/schemas/CalendarEntry'
    Calendar_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Calendar*
        etag:
          type: string
          description: ETag for the *Calendar*
        color:
          type: string
          enum:
          - '#367B9C'
          - '#FFA5A4'
          - '#83D17F'
          - '#FFAC7B'
          - '#8E3F64'
          - '#C75300'
          - '#009CEC'
          - '#62D6B1'
          - '#9EEDCB'
          - '#F9A2C4'
          - '#616161'
          - '#BBDA81'
          - '#DFD3F8'
          - '#D6C4A5'
          - '#FFD478'
          - '#6AC9DE'
          - '#EABBB0'
          - '#BFC2E1'
          - '#DADADA'
          - '#CDE2F5'
          description: Color
        light_color:
          type: string
          enum:
          - '#5DA5C7'
          - '#F95957'
          - '#209412'
          - '#FF7715'
          - '#DE649D'
          - '#FF6B02'
          - '#56C4FC'
          - '#00B177'
          - '#50D19B'
          - '#F14A8C'
          - '#A3A2A2'
          - '#84AB3B'
          - '#B091EE'
          - '#BD9E69'
          - '#F2A000'
          - '#00A5CA'
          - '#CB5A3D'
          - '#959CD0'
          - '#B0B0B0'
          - '#7BA6CD'
          description: Accent color to complement the main calendar color.
        court_rules_default_calendar:
          type: boolean
          description: Whether the calendar is default court rules calendar for current
            user
        name:
          type: string
          description: The name of the *Calendar*
        permission:
          type: string
          enum:
          - owner
          - editor
          - viewer
          - limited_viewer
          - none
          description: The user's permission to the *Calendar*
        type:
          type: string
          enum:
          - AccountCalendar
          - AdhocCalendar
          - UserCalendar
          description: The type of the *Calendar*
        visible:
          type: boolean
          description: Whether the *Calendar* will be shown by default in the Clio
            Web UI (assuming no source is provided).
        created_at:
          type: string
          format: date-time
          description: The time the *Calendar* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Calendar* was last updated (as a ISO-8601 timestamp)
        source:
          type: string
          enum:
          - web
          - mobile
          description: The source that visible applies to, by default the Clio Web
            UI (Expects 'mobile' or 'web').
    Calendar:
      allOf:
      - $ref: '#/components/schemas/Calendar_base'
      - type: object
        properties:
          creator:
            $ref: '#/components/schemas/User_base'
            description: User
    Calendar_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Calendar'
    Calendar_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Calendar List Response
          items:
            $ref: '#/components/schemas/Calendar'
    ClioPaymentsLink_base:
      type: object
      properties:
        active:
          type: boolean
          description: Whether or not the payment link is active.
        amount:
          type: number
          format: double
          description: The defined amount of the payment link, if set.
        created_at:
          type: string
          format: date-time
          description: The time the *ClioPaymentsLink* was created (as a ISO-8601
            timestamp)
        currency:
          type: string
          description: The currency the payment link will collect.
        description:
          type: string
          description: The defined description of the payment link, if set.
        email_address:
          type: string
          description: The email address to pre-fill the field on the the payment
            link, if set.
        etag:
          type: string
          description: ETag for the *ClioPaymentsLink*
        expires_at:
          type: string
          format: date-time
          description: The ISO 8601 date and time the payment link will expire.
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ClioPaymentsLink*
        is_allocated_as_revenue:
          type: boolean
          description: Whether the payment link is allocated as revenue.
        redirect_url:
          type: string
          description: The URL to redirect the client to after the payment has been
            made.
        url:
          type: string
          description: The URL of the payment link.
    ClioPaymentsLink:
      allOf:
      - $ref: '#/components/schemas/ClioPaymentsLink_base'
      - type: object
        properties:
          bank_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          bill:
            $ref: '#/components/schemas/Bill_base'
            description: Bill
          clio_payments_payment:
            $ref: '#/components/schemas/ClioPaymentsPayment_base'
            description: ClioPaymentsPayment
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          destination_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          destination_contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
    ClioPaymentsLink_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ClioPaymentsLink'
    ClioPaymentsLink_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: ClioPaymentsLink List Response
          items:
            $ref: '#/components/schemas/ClioPaymentsLink'
    ClioPaymentsPayment_base:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: The amount of the payment.
        confirmation_number:
          type: string
          description: The confirmation number of the payment.
        created_at:
          type: string
          format: date-time
          description: The time the *ClioPaymentsPayment* was created (as a ISO-8601
            timestamp)
        currency:
          type: string
          description: The currency the payment was processed in.
        deposit_as_revenue:
          type: boolean
          description: Whether the payment was deposited as revenue.
        description:
          type: string
          description: The description of the payment.
        email_address:
          type: string
          description: The email address of the client.
        id:
          type: integer
          format: int64
          description: Unique identifier for the *ClioPaymentsPayment*
        state:
          type: string
          enum:
          - pending
          - authorized
          - completed
          - voided
          - failed
          - canceled
          - requires_confirmation
          - completed_requiring_allocation
          description: The state of the payment (authorized, completed, failed, etc).
        updated_at:
          type: string
          format: date-time
          description: The time the *ClioPaymentsPayment* was last updated (as a ISO-8601
            timestamp)
    ClioPaymentsPayment:
      allOf:
      - $ref: '#/components/schemas/ClioPaymentsPayment_base'
      - type: object
        properties:
          bank_transaction:
            $ref: '#/components/schemas/BankTransaction_base'
            description: BankTransaction
          clio_payments_link:
            $ref: '#/components/schemas/ClioPaymentsLink_base'
            description: ClioPaymentsLink
          contact:
            $ref: '#/components/schemas/Contact_base'
            description: Contact
          destination_account:
            $ref: '#/components/schemas/BankAccount_base'
            description: BankAccount
          user:
            $ref: '#/components/schemas/User_base'
            description: User
          allocations:
            type: array
            items:
              $ref: '#/components/schemas/Allocation_base'
            description: Allocation
          bills:
            type: array
            items:
              $ref: '#/components/schemas/Bill_base'
            description: Bill
          matters:
            type: array
            items:
              $ref: '#/components/schemas/Matter_base'
            description: Matter
    ClioPaymentsPayment_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/ClioPaymentsPayment'
    ClioPaymentsPayment_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: ClioPaymentsPayment List Response
          items:
            $ref: '#/components/schemas/ClioPaymentsPayment'
    Communication_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Communication*
        etag:
          type: string
          description: ETag for the *Communication*
        subject:
          type: string
          description: The subject line of the *Communication*
        body:
          type: string
          description: The main content of the *Communication*
        type:
          type: string
          enum:
          - EmailCommunication
          - PhoneCommunication
          description: The type of the *Communication*
        date:
          type: string
          format: date
          description: The date of the *Communication* (as a ISO-8601 datestamp)
        time_entries_count:
          type: integer
          format: int32
          description: The number of time_entries associated with the *Communication*
        created_at:
          type: string
          format: date-time
          description: The time the *Communication* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Communication* was last updated (as a ISO-8601
            timestamp)
        received_at:
          type: string
          format: date-time
          description: The date-time of the *Communication* (in ISO-8601 format)
    Communication:
      allOf:
      - $ref: '#/components/schemas/Communication_base'
      - type: object
        properties:
          user:
            $ref: '#/components/schemas/User_base'
            description: User
          matter:
            $ref: '#/components/schemas/Matter_base'
            description: Matter
          communication_eml_file:
            $ref: '#/components/schemas/CommunicationEmlFile_base'
            description: CommunicationEmlFile
          senders:
            type: array
            items:
              $ref: '#/components/schemas/Participant'
            description: Participant
          receivers:
            type: array
            items:
              $ref: '#/components/schemas/Participant'
            description: Participant
          external_properties:
            type: array
            items:
              $ref: '#/components/schemas/ExternalProperty_base'
            description: ExternalProperty
          time_entries:
            type: array
            items:
              $ref: '#/components/schemas/Activity_base'
            description: Activity
          documents:
            type: array
            items:
              $ref: '#/components/schemas/Document_base'
            description: Document
          notification_event_subscribers:
            type: array
            items:
              $ref: '#/components/schemas/NotificationEventSubscriber_base'
            description: NotificationEventSubscriber
    Communication_Show:
      type: object
      required:
      - data
      properties:
        data:
          $ref: '#/components/schemas/Communication'
    Communication_List:
      type: object
      required:
      - data
      properties:
        data:
          type: array
          description: Communication List Response
          items:
            $ref: '#/components/schemas/Communication'
    Contact_base:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unique identifier for the *Contact*
        etag:
          type: string
          description: ETag for the *Contact*
        name:
          type: string
          description: The full name of the *Contact*
        first_name:
          type: string
          description: First name of the Person
        middle_name:
          type: string
          description: Middle name of the Person
        last_name:
          type: string
          description: Last name of the Person
        date_of_birth:
          type: string
          format: date
          description: Date of birth
        type:
          type: string
          enum:
          - Company
          - Person
          description: The type of the *Contact*
        created_at:
          type: string
          format: date-time
          description: The time the *Contact* was created (as a ISO-8601 timestamp)
        updated_at:
          type: string
          format: date-time
          description: The time the *Contact* was last updated (as a ISO-8601 timestamp)
        prefix:
          type: string
          description: The prefix of the *Contact* (Mr, Mrs, etc)
        title:
          type: string
          description: The designated title of the *Contact*
        initials:
          type: string
          description: The initials of the *Contact*
        clio_connect_email:
          type: string
          description: Clio Connect email if the *Contact* is a ClioConnect User
        locked_clio_connect_email:
          type: boolean
          description: A boolean indicating if the ability to modify this *Contacts
            Clio connect email is locked.
        client_connect_user_id:
          type: integer
          format: int64
          description: The ID for the Clio Connect user associated with this *Contact*
        primary_email_address:
          type: string
          description: The primary email address associated with this *Contact*.
        secondary_email_address:
          type: string
          description: The secondary email address associated with this *Contact*.
        primary_phone_number:
          type: string
          description: The primary phone number associated with this *Contact*.
        secondary_phone_number:
          type: string
          description: The secondary phone number of the *Contact*.
        ledes_client_id:
          type: string
          description: LEDES client id of the Contact
        has_clio_for_clients_permission:
          type: boolean
          description: True if at least one resource has been shared with the contact
            using Clio for Clients.
        is_client:
          type: boolean
          description: Whether or not the Contact is a client
        is_clio_for_client_user:
          type: boolean
          description: Whether or not this contact has client_login and client_user
            (can be created due to addition to client portal or client_share_permissions)
        is_co_counsel:
          type: boolean
          description: Whether or not the Contact has matters shared as co-counsel
        is_bill_recipient:
          type: boolean
          description: Whether the Contact is a bill recipient on at least one matter.
        sales_tax_number:
          type: string
          description: The sales tax number of the *Contact*
        currency:
          type: object
          description: Currency of the *Contact*
    Contact:
      allOf:
      - $ref: '#/components/schemas/Contact_base'
      - type: object
        properties:
          activity_rates:
            type: array
            items:
              $ref: '#/components/schemas/ActivityRate_base'
            description: ActivityRate
          addresses:
            type: array
            items:
              $ref: '#/components/schemas/Address_base'
            description: Address
          custom_field_values:
            type: array
            items:
              $ref: '#/components/schemas/CustomFieldValue'
            description: CustomFieldValue
          custom_field_set_associations:
            type: array
            items:
              $ref: '#/components/schemas/CustomFieldSetAssociation_base'
            description: CustomFieldSetAssociation
          email_addresses:
            type: array
            items:
              $ref: '#/components/schemas/EmailAddress_base'
            description: EmailAddress
          instant_messengers:
            type: array
            items:
              $ref: '#/components/schemas/InstantMessenger_base'
            description: InstantMessenger
          phone_numbers:
            type: array
            items:
              $ref: '#/components/schemas/PhoneNumber_base'
            description: PhoneNumber
          web_sites:
            type: array
            items:
              $ref: '#/components/schemas/WebSite_base'
            description: WebSite
          notification_methods:
            type: array
            items:
              $ref: '#/components/schemas/NotificationMethod_base'
            description: NotificationMethod
          account_balances:
            type: array
            items:
              $ref: '#/components/schemas/AccountBalance_base'
            description: AccountBalance
          related_contacts:
            type: array
            items:
              $ref: '#/components/schemas/Contact_base'
            description: Contact
          primary_work_address:
[...]
